@font-face {
  font-family: Gotham-Bold;
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/goth-bold.otf") format("opentype");
}

@font-face {
  font-family: Gotham-Round;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/goth-round.otf") format("opentype");
}

@font-face {
  font-family: Helvetica-Neue-Bold;
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/helv-neue-bold.ttf") format("truetype");
}

@font-face {
  font-family: Helvetica-Neue-Light;
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/helv-neue-light.otf") format("opentype");
}

@font-face {
  font-family: Helvetica-Neue-Medium;
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/helv-neue-med.ttf") format("truetype");
}

// Theme Colors
$color-main: #d35266;
$color-light: #888;
$color-dark: #383838;
$color-bground: #f5f5f5;

// Theme Fonts
$goth-bold: "Gotham-Bold", serif;
$goth-round: "Gotham-Round", serif;
$helv-bold: "Helvetica-Neue-Bold", serif;
$helv-med: "Helvetica-Neue-Medium", serif;
$helv-light: "Helvetica-Neue-Light", serif;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: $color-bground;
}

.custom-text-main {
  color: $color-main;
}

.custom-text-light {
  color: $color-light;
}

.custom-text-dark {
  color: $color-dark;
}

.custom-font-goth-bold {
  font-family: $goth-bold;
}

.custom-font-goth-round {
  font-family: $goth-round;
}

.custom-font-helv-bold {
  font-family: $helv-bold;
}

.custom-font-helv-med {
  font-family: $helv-med;
}

.custom-font-helv-light {
  font-family: $helv-light;
}

.nav-bar {
  height: 1.5em;
}

.notifications-wrapper {
  font-size: 0.7em;
  font-family: $helv-med;
}

.nav-main-options {
  width: 100%;
}

.nav-menu-text {
  font-size: 2.75vw;
}

.nav-logo-img {
  width: 4vw;
}

.nav-button {
  background-color: $color-main;
  border: 0;
  padding: 3px;
  font-size: 0.8em;
  border-radius: 2px;
}

.nav-user-info {
  width: 20%;
  height: 100%;

  .nav-user-info-img {
    height: 100%;
  }
}

.notifications-wrapper::after {
  clear: both;
}

.nav-menu-notif-icon {
  font-size: 1.5em;
}

.icon-number {
  padding: 0;
  border: none;
  bottom: -0.2em;
  left: -0.2em;
}

.icon-envelope {
  top: -0.2em;
  right: -0.2em;
}

.mobile-header {
  line-height: 1em;
}

.mobile-header:first-child {
  padding-left: 1%;
}

.mobile-header-text,
.mobile-header-text-2 {
  color: $color-light;
  font-size: 0.75em;
  font-family: $helv-light;
}

.mobile-header-text-2 {
  font-weight: bold;
  font-size: 0.8em;
  color: $color-dark;
}

.mobile-header-icon {
  color: $color-light;
  font-size: 0.9em;
  font-family: $helv-med;
}

.product-card {
  background-color: white;
  // width: 48%;
}

.card img {
  width: 40%;
  height: auto;
}

.card-body * {
  font-size: 0.8em;
}

.card-img-top {
  height: 50%;
}

.card-body {
  height: 50%;
}

.search-wrapper {
  height: 35vw;
  background-image: url("../assets/images/logos/search-section-bg-img.png");
  background-size: cover;
}

.search-brand-name {
  font-size: 6vw;
  font-family: $goth-bold;
}

.search-subtitle {
  font-size: 3.1vw;
  font-family: $goth-round;
}

.search-inputs {
  // width: 80%;
}

.search-box {
  width: 80%;

  input,
  button {
    color: $color-light;
    font-size: 2.5vw;
    line-height: 4vw;
  }

  .search-input-1 {
    width: 50vw;
  }

  .search-input-2 {
    // margin-left: 0.5%;
    width: 50vw;
  }

  .search-input-3 {
    // margin-left: 0.5%;
    width: 50vw;
  }

  .search-button {
    // width: 10%;

    button {
      // margin-left: -80%;
      // padding: 0 40%;
      width: 20vw;
      background-color: #000;
    }
  }
}

.hot-ads-section {
  // margin-left: 15%;
}

// Carousel settings
.slider {
  width: 90%;
  height: 32vw;
  // margin: 0 auto;
  border: 1px solid;
  overflow: hidden;

  .slides {
    width: 400.1%;
    height: 100%;
    animation: slide-1 2s linear 4s 1 forwards, slide-2 2s linear 8s 1 forwards, slide-3 2s linear 12s 1 forwards, slide-4 2s linear 16s 1 forwards;
  }

  .slider-1,
  .slider-2,
  .slider-3,
  .slider-4 {
    width: 25%;
    height: 100%;
    float: left;
  }

  @keyframes slide-1 {
    from {
      margin-left: 0;
    }

    to {
      margin-left: -100%;
    }
  }

  @keyframes slide-2 {
    from {
      margin-left: -100%;
    }

    to {
      margin-left: -200%;
    }
  }

  @keyframes slide-3 {
    from {
      margin-left: -200%;
    }

    to {
      margin-left: -300%;
    }
  }

  @keyframes slide-4 {
    from {
      margin-left: -300%;
    }

    to {
      margin-left: 0;
    }
  }

  .slider-button,
  .slider-price {
    text-align: center !important;
    font-size: 2vw;
    line-height: 2.1vw;
    background-color: $color-main;
  }

  .slides-texts h5 {
    margin-bottom: 1vw !important;
    font-size: 2.2vw;
  }

  .slides-texts p {
    margin-bottom: 1vw !important;
    font-size: 2vw;
  }
}

.footer-wrapper {
  font-size: 0.6em;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.search-result-card {
  height: 40vw;
}

.image-square {
  width: 30%;
  overflow: hidden;
}

.search-texts {
  height: 90%;
}

@media only screen and (min-width: 768px) {
  .nav-main-options {
    width: 50%;
  }

  .nav-menu-text {
    font-size: 15px;
  }

  .nav-logo-img {
    width: 19px;
  }

  .nav-user-info {
    // width: 25%;
  }

  .users-name {
    margin: 0 10px;
  }

  .search-wrapper {
    height: 23vw;
  }

  .search-brand-name {
    font-size: 2.8em;
    font-family: $goth-bold;
  }

  .search-subtitle {
    font-size: 1em;
    font-family: $goth-round;
  }

  .search-box {
    width: 80%;

    input,
    button {
      font-size: 12px;
      line-height: 30px;
    }

    .search-input-1 {
      width: 15vw;
    }

    .search-input-2 {
      margin-left: 0.5%;
      width: 18vw;
    }

    .search-input-3 {
      margin-left: 0.5%;
      width: 18vw;
    }

    .search-button {
      margin-left: 10px;

      button {
        width: 10vw;
        background-color: #000;
      }
    }
  }
}
